{% extends "design.html" %}

{% block title %}Registration{% endblock %}
{% block script %}<script src="/static/js/registration.js" defer></script>{% endblock %}
{% block mainh1 %}Registration{% endblock %}

{% block navcontent %}{% endblock %}

{% block content %}

    <div class="card">
        <h2>You can register here: </h2>
        <br>
        <label for="reg_email">E-mail</label>
        <br>
        <input type="email" id="reg_email" name="reg_email">
        <br>
        <br>
        <label for="reg_password">Password</label>
        <br>
        <input type="password" id="reg_password" name="reg_password">
        <br>
        <br>
        <button id="reg_submit">Register</button>
    </div>

{% endblock %}

